<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
  <h2> {{ name }} </h2>
  <h2> {{ email }} </h2>

<button (click)="toggleHobbies()" class="btn">
  Mostrar hobbies
</button>
  <div *ngIf="showHobbies" class="component2">
    <h3>hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>
  </div>
  <a href="{{ webpage }}" target="_blank">Visita mi sitio web</a>
  <form (submit)="newHobby(hobby)">
    <input #hobby type="text" placeholder="hobby">
  </form>
  <app-hello-world> AQUI </app-hello-world>
</div>
