<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
  <h2> {{ name }} </h2>
  <h2> {{ email }} </h2>

<button (click)="toggleHobbies()" class="btn">
  Mostrar hobbies
</button>
<!--Cuando usamos un elemento de html para llamar a atributo de angular 
necesitamos los {{}} para obtenerlo
pero si usamos (click), *ngIf o *ngFor,  no hay necesidad
de usar los {{}}-->>

  <div *ngIf="showHobbies" class="component2">
    <h3>hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>
  </div>
  <a href="{{webpage}}" target="_blank">Visita mi sitio web</a>
  <form (submit)="newHobby(hobby)">
    <input #hobby type="text" placeholder="hobby">
  </form>
  <app-hello-world> AQUI </app-hello-world>
</div>
<ul>
  <li *ngFor="let user of users">
    <app-user [nameUser]="user"></app-user>
  </li>

  <button (click)="sayHello()">hazme click</button>
</ul>

<h1> Desde app.component </h1>

<form (submit)="addUser(newUser)">
  <input type="text" #newUser>
  <button>Agregar Usuario</button>
</form>
<ul>
  <li *ngFor="let user of users">
    {{user}} <button (click)="deleteUser(user)">Borrar Usuario</button>
  </li>
</ul>


